body{
    height: 100%;
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./bg01.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #ffffff;
}

#titleArea {
    text-align: center;
    padding: 10px;
}

@media (min-width:640px) {
    .content {
        margin: auto;
        /* margin-left:auto; */
        /* margin-right:auto; */
        width: 600px;
    }
}

@media (max-width:640px) {
    .content {
        margin: auto;
        width: 90%;
    }
}
